.multi-level-nav ul {
    margin: 3;
    padding: 2;
  list-style-type: none;
  }
  
  .multi-level-nav a {
    display: block;
    padding: .6em 0;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    transition: all .4s;
  }
  
  .multi-level-nav a:focus,
  .multi-level-nav a:hover {
    padding-left: 1em;
    background: white;
    color: #002254;
  }
  
  
  @media screen and (max-width: 600px){
  .multi-level-nav li li a {
    padding-left: 1em;
  }
  
    .multi-level-nav li li a:focus,
    .multi-level-nav li li a:hover {
        padding-left: 1.8em;
    }
  
    .multi-level-nav ul ul li a::before {
        margin: 0 .4em 0 -.8em ;
        content: '–';
    }
  
  .dropdown-toggle {
    display: none;
  }
  
    .multi-level-nav > ul:last-of-type > li:nth-last-child(2) > a {
        border-bottom: none;
    }
  
    a.reserve {
        margin-top: .4em;
        text-align: center;
        font-weight: 600;
        border: 1px solid white;
  
    }
  
    a.reserve:focus,
    a.reserve:hover {
        padding-left: 0;
        background: white;
        color: #002254;
    }
  }
  



        
        @media screen and (max-width: 700px) {
          #menu {
            width:1.4em;
            display: block;
            /*background:#ddd;*/
            font-size:2em;
            text-align: center;
            cursor: pointer;
            color: white;
            z-index: 200;
          }

          #nav{
            float: center;
            position: absolute;
            width: 100%;
            text-align: center;
            z-index: 100;
            background: black;
            opacity: 0.8;
            animation-name: slidedown;
            animation-duration: 0.7s;
            top: 0;

          }

          @keyframes slidedown{

            from{
              opacity: 0;
            }

            to{
              opacity: 0.8;
            }
          }
          
          

            
          #nav.js {
            display: none;
 
          }
          ul {
            
            width:100%;
            float: center;
            list-style:none;
            padding: 10px;
           

          }
          ul li {
            width:100%;
            border-right:none;
            text-decoration: none;
            padding: 5px;
     
            
          }

          ul li a{
            text-decoration: none;
            color: white;
            
          }
        }
      
        @media screen and (min-width: 700px) {
          #menu {
            display: none;
          }

          .multi-level-nav ul {
            margin: 3;
            padding: 2;
          list-style-type: none;
          text-align: center;
          }
          
          .multi-level-nav a {
            display: block;
            padding: .6em 0;
            color: white;
            text-decoration: none;
            border-bottom: 1px solid hsla(0, 0%, 100%, .1);
            transition: all .4s;
          }
          
          .multi-level-nav a:focus,
          .multi-level-nav a:hover {
            padding-left: 1em;
            background: white;
            color: #002254;
          }

          .multi-level-nav ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
      }
      
      .multi-level-nav li {
            flex: 1 0 auto;
        position: relative;
      }
      
        .multi-level-nav a {
            padding-right: 1.4em;
            border-bottom: none;
        }
      
        .multi-level-nav a:focus,
        .multi-level-nav a:hover {
            padding-left: 0;
            background: inherit;
            color: white;
            text-decoration: underline;
        }
      
      .multi-level-nav ul ul {
        display: none;
        position: absolute;
        z-index:100;
      }
      
      .multi-level-nav ul ul li {
            flex: 1 1 auto;
      }
      
      .multi-level-nav ul .toggled-on {
        display: flex;
      }
      
      .dropdown-toggle {
        margin: 0 -.25em 0 .25em;
        padding: 0 .25em;
        border: 0;
        content: "";
        text-transform: lowercase; /* Stop screen readers to read the text as capital letters*/
        background-color: transparent;
      }
      
      .dropdown-toggle:after {
        position: relative;
        top: 0;
        left: 0;
            width: 1em;
        color: white;
        content: "+";
        line-height: 1em;
      }
      
      .dropdown-toggle:hover,
      .dropdown-toggle:focus {
        outline: solid white 1px;
      }
      
      .dropdown-toggle.toggle-on:after {
        content: "–";
      }
      
        .toggled-on {
            border: 1px solid white;
            border-top: none;
        }
      
        .toggled-on a {
            padding-left: .8em;
            background-color: #002254;
        }
      
        a.reserve {
            margin-top: .4em;
            padding: .2em .5em;
            border: 1px solid white;
            transition: none;
        }
      
        a.reserve:focus,
        a.reserve:hover {
            padding-left: .5em;
            background: white;
            color: #002254;
            text-decoration: none;
        }


        }
        


        
      